@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  @apply m-0 p-0 box-border no-underline;
}

html {
  @apply scroll-smooth no-scrollbar;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav-burger {
  @apply text-white text-xl;
}

.nav-fixed {
  @apply fixed top-0 left-0 right-0 z-10 transition-colors duration-300;
}

.nav-list {
  @apply flex items-center gap-5;
}
.nav-link-mobile {
  @apply text-[#1F1E1E] text-base font-normal uppercase;
}
.nav-link {
  @apply text-white uppercase text-sm font-normal hover:underline underline-offset-2;
}

.footer-list {
  @apply flex flex-col gap-1;
}
.footer-link {
  @apply text-[#1F1E1E] text-xs font-normal uppercase hover:underline underline-offset-2;
}
